work/
DecodeStage/buffer/buffer.vhd.bak
DecodeStage/decode.cr.mti
DecodeStage/decode.do
DecodeStage/decode.mpf
DecodeStage/vsim.wlf
processor.cr.mti
processor.mpf
tcl_stacktrace.txt
vsim.wlf
DecodeStage/transcript
wlft0rdxc9
wlft9v9y0v
wlft484shh
wlftdh7wk7
wlftg34yr8
wlftbyzi1b
wlfteyddhw
wlftm72e0j
wlft9hycdk
wlft9hycdk
